body {
  margin: 2em auto;
  max-width: 880px;
  line-height: 1.6;
  background-color: #fffff8;
  color: #111;
  padding: 1em;
  font-family: "Courier New", monospace
}

h1 {
    line-height: 1
}

ul {
    text-align: center
}

.menu {
    text-align: left;
    padding: inherit
}

.menu li {
  list-style-type: none;
  text-align: left;
  display: inline
}

.menu li:not(:first-child)::before {
  padding: 0.5em;
  color: #ccc;
  content: "|"
}

a {
  color: #fd8000;
  text-decoration: none
}

pre {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0.5em 1em;
  color: #000;
  line-height: 1.4;
  overflow: auto
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: #fffff8;
    background-color: hsl(210, 25%, 8%)
  }
  a {
    color: #fd8000
  }
  pre {
    background-color: #191f26;
    color: #e6e1cf;
  }
}
