body {
    margin: 2em auto;
    max-width:800px;
    line-height:1.6;
    background-color: #eeeeee;
    color: #454545;
    padding: 1em
}

ul {
    align: center
}

a {
  color: #07a;
  text-decoration: none
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: #d0d0d0;
    background-color: #202020
  }
  a {
    color: #f0d0a0
  }
}
